/*#de9602 #fdd021 #fef266 #cfbcae #564037*/
* {
  margin: 0;
  padding: 0;
}
.main-layout a:hover {
  text-decoration: none;
}
.main-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 700px 300px;
  grid-gap: 0px;
  background-color: #fafafa;
  color: #444;
}
.logo {
  background-color: #f3f3f3;
  color: black;
  display: flex;
}
.big-image {
  background-image: url('Assets/d192862f-pexels-delayed-4-compressor.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.content-1 {
  background-color: #a2a2a2;
  color: black;
}
.logo-flex-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}
.logo-image {
  display: flex;
  align-items: center;
}
.logo-image a {
  font-family: 'Armata', sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-decoration: none;
}
.logo-menu a {
  color: #444;
  font-family: 'Armata', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.logo-menu {
  display: flex;
  align-items: center;
}
.logo-menu > span {
  display: flex;
  align-items: center;
  margin: 0 0 0 15px;
}
.logo-menu > span:hover {
  color: #999;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: coral;
}
.test {
  border-color: red;
  border-width: 4px;
  border-style: solid;
}
/*font-family: 'Armata', sans-serif; font-family: 'Voces', cursive; font-family: 'Libre Barcode 128 Text', cursive;*/