################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FFT/v16/.suo
/.vs/FFT/config
