<div class="agenda">
    <span class="heder" >Agenda</span>

    <span class="sub-heder-6" style="padding-left: 70px; text-decoration: line-through">Implementation</span>
    <span class="sub-heder-6" style="padding-left: 70px;">History</span>
    <span class="sub-heder-6" style="padding-left: 70px;">Applications</span>
    <span class="sub-heder-6" style="padding-left: 70px;">Prediction</span>

</div>
<script type="text/javascript">
    var frward = '/18';
    var backward = '/';
</script>

<script src="~/Scripts/main.js"></script>