<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML">
</script>

<div class="container">

    <div style="width: 100%; height: 85%; display: flex; flex-direction: row; align-self: flex-start; align-items: center; justify-content: flex-start;  margin: 0">

        <div style=" color: #009fe3; font-size: 60px; font-weight: 900; padding-left:100px; width: 100%; height: 90%;  width:50%;  display: flex; flex-direction: column; align-self: flex-start; align-items: flex-start; justify-content: center;  margin: 0">
            <span><span style="color: blue; font-size: 70px; font-weight: 900;">D</span>iscrete</span>
            <span><span style="color: blue; font-size: 70px; font-weight: 900;">F</span>ourier</span>
            <span><span style="color: blue; font-size: 70px; font-weight: 900;">T</span>ransform</span>
        </div>
        <div style="width: 100%;
                    height: 90%;
                    width:50%;
                    display: flex;
                    flex-direction: column;
                    align-self: flex-start;
                    align-items: flex-start;
                    justify-content: center;
                    margin: 0">


            <span class="i1" style="font-size: 35px;" >
                $$\color{blue}{x_n} = \sum_{k=0}^{N-1}\color{red}{X_n}e^{-\frac{2\pi ikn}{N}}$$
            </span>
            <span class="i1" style="font-size: 35px;">
                $$\color{red}{X_n} = \frac{1}{N}\sum_{k=0}^{N-1}\color{blue}{x_n}e^{\frac{2\pi ikn}{N}}$$
            </span>

            <span class="i0" style="font-size: 35px;">
                $$\color{blue}{F(\omega)} = \int_{-\infty}^{\infty}\color{red}{f(t)}e^{-2\pi it \omega}d{t}$$
            </span>
            <span class="i0" style="font-size: 35px;">
                $$\color{red}{f(t)} = \int_{-\infty}^{\infty}\color{blue}{F(\omega)} e^{2\pi it \omega}d{\omega}$$
            </span>

        </div>




    </div>



</div>

<script type="text/javascript">
    var frward = '/dft';
    var backward = '/dfunction';
    var index = 0;
    $('.i0').hide();
    $('.i1').show();


    $('body').keyup(function (e) {
        if (e.keyCode == 32) {
            index++;
            if (index == 2) {
                index = 0;
            }

            $('.i0').hide();
            $('.i1').hide();
            $('.i' + index).show();
        }
    });


</script>
<script src="~/Scripts/main.js"></script>
