<script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>

<div class="container">


    <div class="main-grid">

        <div class="grid">
            <div class="heder" >
                <div class="textbox" style="padding: 2px 10px;">
                    <label>Amplitude</label>
                    <input type="range" step="0.5" onchange="filter(this)" style="width: 300px;" id="rangeA" min="0" value="" />
                </div>
               
               
            </div>
            <div class="heder">
                <div class="textbox" style="padding: 2px 10px;">
                    <label id="lmin">min: </label>
                    <label id="lmax">max: </label>
                    <label id="lcom">compress: </label>
                </div>


            </div>
            <div class="heder">
                <div class="textbox" >
                    <input type="button" onclick="drawCompress()" value="DRAW" />
                </div>
                
            </div>
        </div>
        <div class="convas-grid">
            <div class="convas-holder">
                <canvas id="ctime" width="700px" height="350px"></canvas>
            </div>
            <div class="convas-holder">
                <canvas id="cfft" width="700px" height="350px"></canvas>
            </div>
        </div>
    </div>

</div>

<script src="~/Scripts/fft2.js"></script>

<script type="text/javascript">
    var frward = 'fftd';
    var backward = '/dft1';
</script>
<script src="~/Scripts/main.js"></script>
