<div class="container">
    <div class="theme"  style="padding: 50px 0 ; font-size: 40px; font-weight: 900; height: 100%; width: 100%; display: flex; flex-direction: column; align-items: center;  justify-content: space-between; color: white; background-color:black">
        <div style="width: 100%; min-height:200px; display: flex; flex-direction: row; align-self: flex-start; align-items: center; justify-content: space-around;  margin: 0">
            <span>Shape</span> 
            <span><img src="~/Content/round.jpg" height="200px" /></span>
        </div>
        <div style="width: 100%; display: flex; flex-direction: row;  align-self: flex-start; align-items: center; justify-content: center;  margin: 0">
            <div style="border-top: solid; width: 80%; border-bottom-color: white; border-top-width: 2px;"></div>
        </div>
        <div style="width: 100%; min-height:200px; display: flex; flex-direction: row;  align-self: flex-start;  align-items: center; justify-content: space-around;  margin: 0">
            <span >Size</span>
            <span>12 000 km</span>
        </div>
        <div style="width: 100%; display: flex; flex-direction: row;  align-self: flex-start; align-items: center; justify-content: center;  margin: 0">
            <div style="border-top: solid; width: 80%; border-bottom-color: white; border-top-width: 2px;"></div>
        </div>
        <div style="width: 100%; min-height:200px; display: flex; flex-direction: row;  align-self: flex-start; align-items: center; justify-content: space-around;  margin: 0">
            <span>Age</span>
            <span>6000 years</span>
        </div>
    </div>


</div>
<script type="text/javascript">
    var frward = '/fourie';
    var backward = '/eart';
</script>
<script src="~/Scripts/main.js"></script>