<div class="container">
    <div class="theme"  style="height: 100%; width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: black">
        <div style="width: 100%; display: flex; flex-direction: row; align-content: center; align-items: center; justify-content: center; font-size: 220px; color: black"; font-weight: 900; margin: 0">

            <img src="~/Content/round.jpg" height="400px" />
            <img src="~/Content/flat.jpg"  height="300px" />
        </div>
       
    </div>


</div>
<script type="text/javascript">
    var frward = '/18';
    var backward = '/eart1';
</script>
<script src="~/Scripts/main.js"></script>