<div class="container">
    <div class="theme"  style=" padding-top: 100px; height: 100%; width: 100%; display: flex; flex-direction: row; align-items: flex-start; justify-content: flex-start; color: #009fe3">
        <div style="width: 40%; display: flex; flex-direction: row; align-content: center; justify-content: space-around; font-size: 220px; font-weight: 900; margin: 0">
            <span><img src="~/Content/Fourier2.jpg" height="400px" /></span>
        </div>
        <div style="display: flex; flex-direction : column; align-content: flex-start; justify-content: flex-start; font-size: 50px; font-weight: 400;">
            <span>
                Joseph 
            </span>
            <span style=" margin-top: 30px;">
                Fourier
            </span>
        </div>
    </div>


</div>
<script type="text/javascript">
    var frward = '/eart';
    var backward = '/agenda';
</script>
<script src="~/Scripts/main.js"></script>