<div class="container" >
    @*<span class="heder">The most used algorithm</span>
    <span class="sub-heder">in the wold</span>*@
    <span class="heder red">FFT</span>
    
</div>
<script type="text/javascript">
    var frward = '/agenda';
    var backward = '/';
</script>
<script src="~/Scripts/main.js"></script>