<div class="container">
    <div class="theme" style="padding: 50px 0 ; font-size: 43px; font-weight: 900; height: 100%; width: 100%; display: flex; flex-direction: column; align-items: center;  justify-content: space-between; color: white; background-color:black">
        
        
        <div style="width: 100%; min-height:100px; display: flex; font-size: 90px; font-weight: 900; flex-direction: row; align-self: center; align-items: center; justify-content: center;  margin: 0">
            <span>GPEG</span>
        </div>
        
        <div style="width: 100%; display: flex; flex-direction: row;  align-self: flex-start; align-items: center; justify-content: center;  margin: 0">
            <div style="border-top: solid; width: 80%; border-bottom-color: white; border-top-width: 2px;"></div>
        </div>
        
        <div style="width: 100%; min-height:160px; display: flex; flex-direction: row;  align-self: flex-start; align-items: center; padding-left: 350px; justify-content: flex-start;  margin: 0">
            <span>MDCT 1</span>
        </div>
        
        <div style="width: 100%; display: flex; flex-direction: row;  align-self: flex-start; align-items: center; justify-content: center;  margin: 0">
            <div style="border-top: solid; width: 80%; border-bottom-color: white; border-top-width: 2px;"></div>
        </div>
        
        <div style="width: 100%; min-height:160px; display: flex; flex-direction: row;  align-self: flex-start;  align-items: center;  padding-left: 350px; justify-content: flex-start;  margin: 0">
            <span>FFT</span>
        </div>
        
        <div style="width: 100%; display: flex; flex-direction: row;  align-self: flex-start; align-items: center; justify-content: center;  margin: 0">
            <div style="border-top: solid; width: 80%; border-bottom-color: white; border-top-width: 2px;"></div>
        </div>
       
        <div style="width: 100%; min-height:160px; display: flex; flex-direction: row; align-self: flex-start; align-items: center;  padding-left: 350px; justify-content: flex-start;  margin: 0">
            <span>MDCT 4</span>
        </div>
       
    </div>


</div>
<script type="text/javascript">
    var frward = '/fft-formula';
    var backward = '/mp3';
</script>
<script src="~/Scripts/main.js"></script>