@{
    Layout = "~/Views/Shared/_LayoutLogo.cshtml";
}
<div class="container">
    <div class="theme" style="height: 100vh; width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; color: white; background-color: #009fe3">
        <div style="text-align:left; padding: 200px 150px; display: flex;  height: 100%; flex-direction: column; align-content: center; 
                    align-items: flex-start; justify-content: space-around; align-self: flex-start; 
                    font-size: 55px; font-family: Arial !important; font-weight: 500; margin: 0">
            <p style="text-align:left;">
                According to string theory everything in this world is only a vibrations and nothing more.
            </p>
            <p style="text-align:left;">
                ... But vibrations of what ?
            </p>
        </div>

    </div>


</div>
<script type="text/javascript">
    var frward = '/';
    var backward = '/';
</script>
<script src="~/Scripts/main.js"></script>