@using AirHelp.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/css/Site.css" rel="stylesheet" />
    <link href="~/Content/css/grid-layout.css" rel="stylesheet" />
    <link href="~/Content/css/input-style.css" rel="stylesheet" />

    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Armata|Libre+Barcode+128+Text|Voces" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/datepicker-bg.js"></script>
   

</head>
<body>
    <div class="main-layout">
        @RenderBody()
        
    </div>

    <script src="~/Scripts/navigation.js"></script>
</body>

</html>


