* {
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
html,
body {
  height: 100%;
}
.main-layout {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 100px;
  grid-gap: 0px;
  font-family: "PT Sans", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container > * {
  margin-bottom: 4vh;
}
.agenda {
  background-color: #009fe3;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10vh 0 0 10vh;
}
.agenda > * {
  margin-bottom: 4vh;
}
.heder {
  font-size: 4vh;
  min-width: 380px;
}
.sub-heder {
  font-size: 8vh;
}
.sub-heder-6 {
  font-size: 6vh;
}
.red {
  color: darkred;
}
.bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 100px;
  background-color: #009fe3;
  color: white;
}
.main-grid {
  display: flex;
  flex-flow: row;
}
.main-grid .grid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main-grid .grid .heder {
  display: flex;
  flex-direction: row;
}
.main-grid .grid .heder > * {
  margin: 10px 0 10px 0;
}
.main-grid .grid .grid-2 {
  margin-top: 20px;
  display: flex;
  flex-flow: row;
}
.main-grid .textbox {
  margin-top: 10px;
}
.main-grid .convas-grid .convas-holder {
  padding: 20px;
}
.main-grid .convas-grid .convas-holder canvas {
  border: 1px solid black;
}
.main-grid .convas-title {
  padding: 20px 0 0 20px;
}
.main-grid .convas-title label {
  font-weight: 700;
}
.textbox {
  display: flex;
  flex-direction: column;
}
.textbox > * {
  margin: 3px 0 0 0;
}
label,
input {
  font-family: "PT Sans";
  font-size: 15px;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.record .icon {
  margin-left: 17px;
  margin-top: -30px;
  position: absolute;
  background-color: red;
  height: 18px;
  width: 18px;
  display: inline-block;
  background-clip: border-box;
  border-radius: 20px;
  z-index: 100000;
}
.recording .icon {
  margin-left: 17px;
  margin-top: -30px;
  position: absolute;
  background-color: black;
  height: 18px;
  width: 18px;
  display: inline-block;
  background-clip: border-box;
  border-radius: 0;
}