@font-face {
    font-family: 'icomoon';
    src: url('/fonts/glyphicons-halflings-regular.eot');
    src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/fonts/glyphicons-halflings-regular.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Round';
    src: url('/fonts/Round.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.icon{
    display: inline;
}

a, a:hover {
    text-decoration: none;
}


.icin:before,
.icon {
    font-family: 'icomoon';
    font-style: normal;
    speak: none;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.icon-twitter:before {
    content: "\e000";
}

.icon-facebook:before {
    content: "\e001";
}

.icon-dribbble:before {
    content: "\e002";
}

.delay:before {
    content: "\e023";
}

.cancel:before {
    content: "\e014";
}

.overbook:before {
    content: "\e088";
}

/*e089";*/

p, a {
    text-align: center;
}