<div class="data-content">
    <div class="info-page">

        <h1 id="-">Често задавани въпроси</h1>
        <h2 id="-">Кога имам право на обезщетение?</h2>
        <p>Като самолетен пътник, имате право на обезщетение в случай на:</p>
        <ul>
            <li>
                <a href="/otkazan-dostap-do-borda-denied-boarding-overbooking/">отказан достъп на борда</a>
            </li>
            <li><a href="/otmenen-polet-cancelled-flight/">отменен полет</a></li>
            <li><a href="/zakysnql-polet-delayed-flight/">закъснение на полета</a> с поне три часа</li>
            <li>промяна на часа на полета в кратък срок преди излитане</li>
        </ul>
        <p>Имате право на обезщетение за следните полети:</p>
        <ul>
            <li>полети в рамките на Европейския съюз</li>
            <li>полети, излитащи от държава-членка на ЕС, независимо, дали кацат в рамките на Съюза</li>
            <li>полети, излитащи от държава извън рамките на ЕС, и кацащи на територията на Съюза, само, ако авиокомпанията има седалище в ЕС</li>
        </ul>
        <p>Правото на обезщетение не зависи от това дали имате Европейско гражданство.</p>
        <h2 id="-Koef OOD-">Каква сума трябва да заплатя, за да използвам услугите на Koef OOD?</h2>
        <p>
            Използването на услугите на Koef OOD не изисква <a href="/bg/pricing/">начално плащане</a> от Ваша страна. Само, ако се преборим успешно за Вашето обезщетение,
            удържаме 25% комисиона от размера му.
        </p>
        <h2 id="-Koef OOD-">Какво прави Koef OOD за мен?</h2>
        <p>
            Koef OOD Ви помага да се преборите за заслуженото си обезщетение при отменен или закъснял полет, изпусната връзка в следствие на закъснял полет, както и при отказан достъп до борда.
            Правото на обезщетение за пътниците в подобни случаи произлиза от Европейски Регламент 261/2004 и вече многократно е било
            потвърдено от Европейския съд в Люксембург.
        </p>
        <h2 id="-">Не мога ли сам да се преборя за обезщетението си?</h2>
        <p>
            Ако смятате, че имате право на обезщетение при <a href="/otmenen-polet-cancelled-flight/">отменен</a> или <a href="/zakysnql-polet-delayed-flight/">закъснял</a> полет,
            изпусната връзка в следствие на закъснял полет или при <a href="/otkazan-dostap-do-borda-denied-boarding-overbooking/">отказан достъп до борда</a>, можете да се опитате да се свържете с авиокомпанията, обслужваща полета, и да поискате обезщетение лично.
            В случай, че авиокомпанията не Ви отговори или откаже да Ви заплати полагащото Ви се обезщетение, можете да подадете жалба към ГВА (Гражданска Въздухоплавателна Администрация), ако полетът е излетял от територията на България, или до местната контролна служба в страната, от която е излетял полетът.
            Друг вариант е да използвате услугите на адвокат за предприемане на съдебни действия срещу авиокомпанията.
        </p>
        <p>
            Висок процент от пътниците, потърсили правата си лично, споделят, че рядко получават внимание или положителен отговор от авиокомпаниите, които им дължат обезщетение.
            Пътници, използващи услугите на адвокати, обикновено трябва да платят за услугата още в началото на целия процес.
            Въпреки, че, в случай на загуба пред съда, авиолинията възстановява разходите за адвокатските услуги на ищеца, това обикновено се случва месеци след подаването на иска и предизвиква неудобството, че през това дълго време пътникът не разполага свободно с дадената сума.
        </p>
        <p>
            Тук на помощ идва Koef OOD! Преди да започнете своя иск, можете да проверите шансовете си за обезщетение и неговия размер в нашия <a href="/bg/app/#/claim">"Калкулатор на обезщетение"</a>.
            След като изпратите своя иск, екипът на Koef OOD започва работа по осигуряване на Вашето заслужено обезщетение.
            Обикновено, това се случва след медиаторски усилия и достигане на извънсъдебно споразумение с авиокомпанията.
            Ако авиокомпанията отказва да плати, въпреки, че правото е на Ваша страна, Koef OOD може да започне съдебен процес срещу нея (със съгласието на клиента).
        </p>
        <h2 id="-80-">Авиокомпанията ми предложи по-малко от 80% от сумата на обезщетението, което смятам, че заслужавам. Какво да правя?</h2>
        <p>
            Понякога, за да избегнат плащането на пълното обезщетение, авиокомпаниите предлагат талони за безплатни стоки или услуги, както и сума, значително по-малка от полагащото Ви се обезщетение.
            Препоръчваме Ви да не приемате неизгодни за Вас обезщетения или такива, които не са в парична форма. За да изчислите шансовете си за получаване на обезщетение и неговия размер, използвайте нашия <a href="/bg/app/#/claim">"Калкулатор на обезщетение"</a>.
        </p>
        <h2 id="-https-www-Koef OOD-eu-bg-app-claim-">За какво служи <a href="/bg/app/#/claim">"Калкулатор на обезщетение"</a>?</h2>
        <p>
            Нашият <a href="/bg/app/#/claim">"Калкулатор на обезщетение"</a> Ви помага да добиете представа за шансовете си за получаване на обезщетение и за неговия размер.
            Стъпка по стъпка, чрез попълването на въпроси относно Вашия полет и конкретната ситуация, ще можете бързо да разберете каква е вероятността да получите обезщетение.
        </p>
        <h2 id="-https-www-Koef OOD-eu-bg-app-claim-">Попълних всички полета в <a href="/bg/app/#/claim">"Калкулатора на обезщетение"</a>. Какво следва сега?</h2>
        <p>След като въведете цялата нужна информация, нашата система ще я обработи и ще изчисли вероятността за успех на Вашия иск. След получаване на заявката ще се свържем с Вас по имейл възможно най-бързо и ще започнем работа по Вашия казус.</p>
        <h2 id="-https-www-Koef OOD-eu-bg-app-claim-"><a href="/bg/app/#/claim">"Калкулаторът на обезщетение"</a> ми дава резултат, според който нямам шанс да получа обезщетение. Какво да направя?</h2>
        <p>
            Ако според дадената от Вас информация <a href="/bg/app/#/claim">"Калкулаторът на обезщетение"</a> изчисли, че не е вероятно да имате право на обезщетение, това означава само, че <a href="/rejected-claim-Koef OOD/">Koef OOD няма да може да ви помогне</a>
            да търсите правата си в конкретния случай. На Вас остава да прецените дали не искате да използвате услугите на адвокат или да подадете жалба към ГВА.
        </p>
        <h2 id="-1-">Мога ли да потърся правата си за полети преди повече от 1 година?</h2>
        <p>
            Да, давността на иска е между 3 и 6 години в зависимост от държавата, от която е излетял полетът. Попълнете нужната информация в нашия <a href="/bg/app/#/claim">"Калкулатор на обезщетение"</a> и очаквайте да се свържем с Вас, за да ви информираме за давността на Вашия иск.
            Възможно е да се наложи да ни изпратите допълнитени документи и доказателства, като информация за резервацията, бордна карта и други.
        </p>
        <h2 id="-">Колко време отнема да получа обезщетението си?</h2>
        <p>
            Времето, за което обработваме всеки отделен случай, зависи от няколко фактора. Конкретните подробности за полета, причината за закъснението или отмяната му,
            поведението на авиокомпанията в подобни случаи, както и скоростта на съдебния процес, до който може да се стигне, играят важна роля. Не можем със сигурност
            да кажем колко време ще отнеме да получите обезщетението си, но своевременно ще Ви информираме за всяка стъпка от процедурата и за статуса на Вашия иск.
        </p>
        <h2 id="-">Как разбирам какъв е статусът на моята заявка за обезщетение?</h2>
        <p>
            Можете да следите статуса на своя иск в <a href="/bg/app/#/dashboard">личния си клиентски профил</a>.
            При всяко развитие по случая Ви ще Ви информираме и по имейл.
        </p>
        <h2 id="-">Самолетният ми билет беше купен от работодателя ми / от друго лице и не трябваше лично да плащам за него. Имам ли право на обезщетение?</h2>
        <p>
            Да, независимо от това кой е платил за билета Ви, ако той е на Ваше име, имате право на обезщетение.
            Само пътниците, на чието име е направена резервацията и е издадена бордната карта, могат да потърсят обезщетение от авиокомпанията.
            Това означава, че фирмата или третото лице, закупило билета Ви, няма право да иска лично или да взема част от обезщетението Ви.
            Прочетете повече в <a href="/obezshtetenie-zakysnql-otmenen-polet-compensation-delayed-cancelled-flight/">тази статия</a>.
        </p>
    </div>
</div>




