<div class="data-content">
    <div class="center-content">
        <div class="contact-main">
            <div class="contact-heder">
                <span style="color: darkred; font-size: 60px; font-weight: 700;"> ЛОГО </span> <span style="font-size: 60px; font-weight: 700;"> Koed OOD </span>
            </div>
            <div class="contact-data">

                <div class="">
                    <label class="title">Адрес</label>
                    <div>
                        <label class="value">
                            Велико Търново, Алеко Константинов 17Б, ет 3
                        </label>
                    </div>
                </div>
                <div class="">
                    <label class="title">ЕИК</label>
                    <div>
                        <label class="value">
                            325 987 234
                        </label>
                    </div>
                </div>
                <div class="">
                    <label class="title">Идентификационен номер по ДДС</label>
                    <div>
                        <label class="value">
                            BG203643295
                        </label>
                    </div>
                </div>
                <div class="">
                    <label class="title">Телефон</label>
                    <div>
                        <label class="value">
                            + 3588 87504 957
                        </label>
                    </div>
                </div>
                <div class="">
                    <label class="title">Емаил</label>
                    <div>
                        <label class="value">
                            koefmail@mail.com
                        </label>
                    </div>
                </div>
                <div class="">
                    <label class="title">Управител</label>
                    <div>
                        <label class="value">
                            Коеф
                        </label>
                    </div>
                </div>
                <div class="form-box">
                    <label class="title">Коеф ООД е регистрирн като администратор на лични данни с номер</label>
                    <div>
                        <label class="value">
                            234 564
                        </label>
                    </div>
                </div>
                <div class="">
                    <label class="title">IBAN</label>
                    <div>
                        <label class="value">
                            BG88FINV78987987883372
                        </label>
                    </div>
                    <div>
                        <label class="value">
                            Koef OOD
                        </label>
                    </div>
                    <div>
                        <label class="value">
                            Първа Инвестиционна Банка
                        </label>
                    </div>
                </div>


            </div>
            <div class="contact-row">
                <p> Коеф ООД помага на свойте клиент в при подаван ена изкове за обезщетени. С цел удобство и минимални усиля, пт 2018 г предлага и веб форма за получаване на обезщетени при полед съгласно регламент 261 от 2004. </p>
            </div>

        </div>
    </div>
</div>