<div class="data-content">
    <div class="info-page">
        <h2 id="-">Политика на поверителност</h2>
        <p>"******* разбира, че защитата и спазването на поверителността на личните данни са важни за потребителите. Следователно, бихме искали да посочим каква информация събираме и как я използваме.</p>
        <p>"*******е регистриран администратор на лични данни към Комисията за защита на личните данни с регистрационен номер 417505.</p>
        <h2 id="-">Събиране и използване на лични данни</h2>
        <p>Личните данни представляват информация, която Ви идентифицира, като например име, имейл или пощенски адрес. ***** не събира от Вас такава информация, освен ако не е конкретно предоставена (напр. при попълване на личната Ви информация в "Калкулатора на обезщетение", участие в анкета, състезание или томбола или искане на друга информация) и е дадено разрешение за използването ѝ.</p>
        <p>Ние съхраняваме, използваме и предаваме личните Ви данни само съгласно Вашето съгласие и доколкото – по отношение на съдържание и време – е необходимо във всеки конкретен случай, напр. за да отговорим на въпросите Ви, да изпълним Ваше искане или да Ви информираме относно статуса на Вашия иск.</p>
        <p>Всяко прехвърляне на личните Ви данни, например пренос на данни за вход от нашият интернет сайт в социални мрежи на трети интернет сайтове, като например Facebook или Twitter, изисква изричното Ви съгласие. ***** гарантира, че няма да продава или отдава личните Ви данни на трети страни.</p>
        <h2 id="-">Използване на личните дани за рекламни и маркетингови цели</h2>
        <p>***** няма да използва личните Ви данни за рекламни или маркетингови цели. Можем да използваме данните Ви, за да създаваме и поддържаме потребителски профил, чрез който да Ви предоставяме персонализирана информация за Вашия иск. Можем също така да използваме предоставените от Вас данни за анализ и подобряване на ефективността на нашите услуги, пазарни проучвания и продажби.</p>
        <h2 id="-">Оттегляне на съгласие</h2>
        <p>Можете да оттеглите съгласието си за използване на Вашите лични данни напълно или частично, в който и да е момент с бъдещ ефект. Ще изтрием личните Ви данни при получаване на заявлението на електронен адрес: contact *****.eu.</p>
        <h2 id="-">Право на информация</h2>
        <p>При поискване ще Ви информираме кои Ваши лични данни, ако има такива, са събрани по време на посещенията Ви на нашия сайт. Моля, адресирайте всички свои питания към горепосочения имейл адрес.</p>
        <h2 id="-">Автоматично записана информация (нелични данни)</h2>
        <p>При влизане в нашия интернет сайт, автоматично събираме обща информация, която не е свързана с Ваши лични данни, например името на доставчика на интернет услугата (или в случай на фирмени мрежи, името на работодателя или фирмата Ви), сайтовете, които са ви пренасочили към нашия сайт, информацията, която сте търсили в търсачката на нашия сайт, датата и часа на влизане, както и използваните от Вас операционна система и версия на браузъра.</p>
        <p>Тази информация се събира и анализира анонимно. Използва се единствено с цел подобряване на атрактивността, съдържанието и функционалността на нашия интернет сайт. Не се обработва допълнително и не се предава на трети лица.</p>
        <h2 id="cookies">Cookies</h2>
        <p>За да улесним използването на нашия интернет сайт, ние използваме „бисквитки”. Бисквитките са малки файлове с данни, които се съхраняват на твърдия диск на Вашия компютър от Вашия браузър и са необходими за използването на нашия интернет сайт. Използваме бисквитки, за да разбираме по-добре как хората използват сайта ни и да осигурим подобрена навигация. Бисквитките ни помагат да видим например дали дадена страница на сайта ни вече е била посетена. Бисквитките също така ни дават информация за това дали вече сте посещавали сайта или сте нов посетител. Бисквитките не съхраняват лични данни и не събират друга информация, която би могла да ви идентифицира. Ако не искате да получавате бисквитки, моля конфигурирайте своя интернет браузър да изтрие всички бисквитки от хард диска на компютъра Ви, да блокира бисквитките или да Ви предупреждава преди съхраняването на бисквитка.</p>
        <h2 id="google-analytics">Google Analytics</h2>
        <p>Този интернет сайт използва Google Analytics, услуга за интернет анализ на Google Inc. („Google”). Google Analytics използва конкретна бисквитка, а именно текстов файл, който се съхранява на компютъра Ви и дава възможност за анализ на начина, по който използвате сайта. Информацията относно използването на този сайт, генерирана от бисквитката, обикновено се прехвърля на сървър на Google в САЩ и се съхранява там. Бихме искали да отбележим, че ролята на Google Analytics на този сайт включва кода "gat._anonymizeIp();", за да гарантира анонимния запис на IP адреси (т.нар. IP маскиране). С оглед анонимността на IP адресите, посещаващи този сайт, Вашият IP адрес е съкратен от Google на територията на ЕС и държавите по Договора за Европейската икономическа общност. Само в изключителни случаи пълният IP адрес се прехвърля на сървър на Google в САЩ и се съкращава там.</p>
        <p>Google използва тази информация от наше име, за да анализира начина, по който използвате сайта и да изготвя доклади за активност по сайта и да предоставя допълнителни услуги, свързани с използването на сайта и използването на интернет на оператора на сайта. IP адресът, който се прехвърля на Google Analytics от Вашия браузър, не се консолидира с други данни от Google. Можете да предотвратите съхраняването на бисквитки чрез настройка на софтуера на браузъра си. Освен това можете да предотвратите записа от страна на Google на данни, свързани с начина, по който използвате сайта, генерирани от бисквитката (включително Вашия IP адрес) и записа на тези данни чрез сваляне и инсталиране на plug-in за браузъра от линка <a href="http://tools.google.com/dlpage/gaoptout?hl=en">http://tools.google.com/dlpage/gaoptout?hl=en</a>. Можете да откриете допълнителна информация за тези условия и за защита на данните и на<a href="http://www.google.com/intl/en/policies/privacy/">http://www.google.com/intl/en/policies/privacy/</a>.</p>
        <h2 id="-">Защита на лични данни</h2>
        <p>Взели сме технически и организационни мерки, за да предпазим Вашите данни от загуба, изменение, кражба или достъп на неоторизирани за това трети лица.</p>
        <h2 id="-">Обновявания и промени</h2>
        <p>Можем да променяме или обновяваме части от настоящия документ във всеки един момент и без предварително предизвестие. Моля, проверявайте периодично, за да сте запознати с евентуални промени или обновявания. Ще посочваме датата на последната промяна.</p>
        <p>Последна промяна: 30.01.2018</p>
    </div>
</div>



